$padding: 20px
$icon-size: 2em
$yearheight: 50%
$icon-padding: 4px

.extra-padded
    padding: $padding

.extra-gutter
    margin-bottom: $padding

.timeline-icons
    height: $icon-size
    width: $icon-size !important
    padding: $icon-padding

.hide
    visibility: hidden

.timeline-opp-container
    display: flex
    justify-content: flex-end
    align-items: center
    flex-grow: 0 !important
    flex-shrink: 0 !important
    flex-basis: auto !important
    margin-right: 5px !important

.work-edu-container
    justify-content: center
