$selectedcolor: #048500
$selectedhover: rgb(26, 155, 21)
$drawerWidth: 250px
$bgcolor: #1f0085
$textdrawer: #ffffff

.navbar
    overflow: auto
    background-color: $bgcolor !important
    color: $textdrawer !important
    width: $drawerWidth
    height: 100%

@media (min-width: 880px)
    .navbar
        width: $drawerWidth

.selected
    background-color: $selectedcolor !important
    &:hover
        background-color: $selectedhover !important

.drawer-logo-container
    flex-grow: 1
    display: flex
    justify-content: center
