.creds-container > *
    margin: 8px

.certificate
    display: flex
    flex-direction: column !important

.cert-card
    width: 520px
    display: flex
    overflow: visible !important

.cert-content
    max-width: 488px

.cert-item
    justify-content: space-evenly
    align-items: center
    margin: unset
    flex-direction: column !important
    width: 290px !important
    > *
        margin: 5px !important

.cert-detail
    display: flex
    flex-direction: column !important
    justify-content: space-evenly
    align-items: center

.cert-desc-divider
    width: 95%

.cred-chip
    display: flex
    justify-content: center
    > *
        border-width: 2px !important
        > *
            font-size: 1.4em

.cred-url
    border-color: #a4053e !important
    color: #a4053e !important

.cert-logo-divider
    margin: 5px !important

.cert-org-icon
    width: 170px
    height: 170px
    align-self: center
    margin-left: 10px

.cert-icon
    font-size: 50pt
    position: relative
    bottom: 55px
    left: 480px
