.cert-card
    width: 520px
    display: flex
    overflow: visible !important

.cert-org-icon
    width: 170px
    height: 170px
    align-self: center
    margin-left: 10px

.cert-item > *
    margin: 5px !important

.cert-desc-divider
    width: 95%

.cert-item
    justify-content: space-evenly
    align-items: center
    margin: unset
    flex-direction: column
    width: 290px !important

.cert-logo-divider
    margin: 5px !important

.cert-detail
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center

.cert-icon
    font-size: 50pt
    position: relative
    bottom: 55px
    left: 480px

.cert-block
    display: flex !important

.cred-chip
    display: flex
    justify-content: center

.cred-chip > *
    border-width: 2px !important

.cred-chip > * > *
    font-size: 1.4em

.creds-container > *
    margin: 8px

.cred-url
    border-color: #a4053e !important
    color: #a4053e !important

.cert-content
    max-width: 488px

.certificate
    display: flex
    flex-direction: column
