$icon-size: 2em
$padding: 20px
$yearheight: 50%

.timeline-icons
    height: $icon-size
    width: $icon-size !important

.hide
    visibility: hidden

.extra-padded
    padding: $padding

.year-container
    display: flex
    justify-content: flex-end
    align-items: center
    flex-grow: 0 !important
    flex-shrink: 0 !important
    flex-basis: auto !important

// .align-text-right
//     text-align: end

// .align-text-center
//     text-align: center
