$orgiconsize: 200px

.work-card
    max-width: 700px
    min-width: 520px

.work-org-icon
    width: $orgiconsize
    height: $orgiconsize
    align-self: center

.work-item > *
    margin: 5px !important

.work-desc-divider
    width: 95%

.work-item
    display: flex
    justify-content: space-evenly
    align-items: center
    margin: unset
    flex-direction: column

.work-logo-divider
    margin: 5px

.work-detail
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
