$margin: 8px
$chipiconsize: 30px
$outlineborder: 2px
$containersize: 56px // icon size + padding + extra boundary of 10px
$padding: 8px

.skillchip-container
    display: flex
    justify-content: center
    flex-wrap: wrap

.skillchip-container>*
    margin: $margin

.skillchip-container .MuiChip-root
    height: $containersize
    border-radius: ($containersize) / 2

.chst1>svg
    width: $chipiconsize !important
    height: $chipiconsize !important
    display: flex !important
    position: relative !important
    align-items: center !important
    flex-shrink: 0 !important
    line-height: 1 !important
    user-select: none !important
    border-radius: 50% !important
    justify-content: center !important
    padding: $padding !important

.chst2>svg
    width: $chipiconsize !important
    height: $chipiconsize !important
    color: #fff !important
    background-color: rgb(17, 82, 147) !important
    display: flex !important
    position: relative !important
    align-items: center !important
    flex-shrink: 0 !important
    line-height: 1 !important
    user-select: none !important
    border-radius: 50% !important
    justify-content: center !important
    padding: $padding !important

.chst3>svg
    width: $chipiconsize !important
    height: $chipiconsize !important
    color: #fff !important
    background-color: #a4053e !important
    display: flex !important
    position: relative !important
    align-items: center !important
    flex-shrink: 0 !important
    line-height: 1 !important
    user-select: none !important
    border-radius: 50% !important
    justify-content: center !important
    padding: $padding !important

.skillchip-container .MuiChip-label
    font-size: 1rem
    font-weight: 400
    line-height: 1.5
    letter-spacing: 0.00938em
    margin: 0
    display: block
    margin-block-start: 1em
    margin-block-end: 1em
    margin-inline-start: 0px
    margin-inline-end: 0px

.skillchip-container .MuiChip-outlined.chst1
    border: $outlineborder solid rgba(0, 0, 0, 0.23)

.skillchip-container .MuiChip-outlined.chst2
    border: $outlineborder solid #3f51b5

.skillchip-container .MuiChip-outlined.chst3
    border: $outlineborder solid #a4053e

.skillchip-container .MuiChip-outlined.chst3 > span
    color: #a4053e

.skillchip-container .chst3-span > span
    color: #000008
