$margin: 8px
$chipiconsize: 46px

.skillchip-container
    display: flex
    justify-content: center
    flex-wrap: wrap

.skillchip-container>*
    margin: $margin

.skillchip-container .MuiChip-root .MuiAvatar-root
    width: $chipiconsize !important
    height: $chipiconsize !important

.skillchip-container .MuiChip-root
    height: $chipiconsize + 10px
    border-radius: ($chipiconsize + 10px) / 2

.chst1>svg
    width: $chipiconsize !important
    height: $chipiconsize !important
    color: #616161 !important
    display: flex !important
    overflow: hidden !important
    position: relative !important
    align-items: center !important
    flex-shrink: 0 !important
    line-height: 1 !important
    user-select: none !important
    border-radius: 50% !important
    justify-content: center !important

.chst2>svg
    width: $chipiconsize !important
    height: $chipiconsize !important
    color: #fff !important
    background-color: rgb(17, 82, 147) !important
    display: flex !important
    overflow: hidden !important
    position: relative !important
    align-items: center !important
    flex-shrink: 0 !important
    line-height: 1 !important
    user-select: none !important
    border-radius: 50% !important
    justify-content: center !important

.chst3>svg
    width: $chipiconsize !important
    height: $chipiconsize !important
    color: #fff !important
    background-color: #c51162 !important
    display: flex !important
    overflow: hidden !important
    position: relative !important
    align-items: center !important
    flex-shrink: 0 !important
    line-height: 1 !important
    user-select: none !important
    border-radius: 50% !important
    justify-content: center !important

