$margin: 8px
$chipiconsize: 30px
$outlineborder: 2px
$containersize: 56px // icon size + padding + extra boundary of 10px
$padding: 8px
$container-radius: $containersize / 2

.skillchip-container
    display: flex
    justify-content: center
    flex-wrap: wrap
    background-color: #00000014
    border-radius: 20px

    .tech-chip
        margin: $margin
        height: $containersize
        border-radius: $container-radius
        background-color: #fff !important

        >svg
            overflow: visible
            width: $chipiconsize
            height: $chipiconsize
            display: flex
            position: relative
            align-items: center
            flex-shrink: 0
            line-height: 1
            user-select: none
            border-radius: 50%
            justify-content: center
            padding: $padding

        > span
            font-size: 1rem
            font-weight: 400
            line-height: 1.5
            letter-spacing: 0.00938em
            margin: 0
            display: block
            margin-block-start: 1em
            margin-block-end: 1em
            margin-inline-start: 0
            margin-inline-end: 0

    .chip-style-1
        border: $outlineborder solid #0000003b

        >svg
            color: #37c94a

    .chip-style-2
        border: $outlineborder solid #3f51b5

        >svg
            color: #115293

    .chip-style-3
        border: $outlineborder solid #a4053e

        >svg
            color: #a4053e
